/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#D31B0B, 10%);
$background-color: lighten(blue, 45%);
$font-family:dynamic(verdana);
$checkboxfield-checkbox-color: lighten(red, 10%);